<div class="menu-icon">&#9776;</div>
<div class="menu-close-icon">&times;</div>
<div id="side_panel">
  <div id="heading"><center>Answers</center></div>
  <div id="search">
    <input type="text" id="search_field" placeholder="Search..." tabindex="1" />
  </div>

  <ul class="answers">
    <% @submissions.each do |ref, submission| %>
    <li id="<%= submission.id.split('/')[1] %>"<% if @first != false %> class="active"<% end %>>
      <div class="name"><%=h submission[:name] %></div>
      <div class="answer_preview">1. <%=h submission[:track_1] %>, 2. <%=h submission[:track_2] %>, 3. <%=h submission[:track_3] %></div>
    </li>
    <% @first = false %>
    <% end %>
  </ul>
</div>

<div id="content">
  <div class="name_heading"><center><%=h @latest_submission[:name] %>:</center></div>
  <div class="scenario"><%= @latest_submission[:scenario] %></div>
  <div class="votes">
    <ol>
      <li id="first"><%=h @latest_submission[:track_1] != "" %><% if @latest_submission[:track_1_notes] %>: <span><%=h @latest_submission[:track_1_notes] %></span><% end %></li>
      <li id="second"><%=h @latest_submission[:track_2] != "" %><% if @latest_submission[:track_2_notes] %>: <span><%=h @latest_submission[:track_2_notes] %></span><% end %></li>
      <li id="third"><%=h @latest_submission[:track_3] != "" %><% if @latest_submission[:track_3_notes] %>: <span><%=h @latest_submission[:track_3_notes] %></span><% end %></li>
    </ol>
  </div>
  <div class="meta">Submitted <span class="timeAgo" title="<%= @latest_submission[:updated_at] %>"></span>. Code: <a id="code" href="/answers/<%= @latest_submission.id.split('/')[1] %>" target="_blank" title="Open in new tab..."><%= @latest_submission.id.split("/")[1] %></a></div>
</div>

<div class="clear"></div>