<div class="menu-icon">&#9776;</div>
<div class="menu-close-icon">&times;</div>
<div id="side_panel">
  <div id="heading"><center>Answers</center></div>
  <div id="search">
    <input type="text" id="search_field" placeholder="Search..." tabindex="1" />
  </div>

  <ul class="answers">
    <% @submissions.each do |ref, submission| %>
    <li id="<%= submission.id.split('/')[1] %>">
      <div class="name"><%= submission[:name] %></div>
      <div class="answer_preview">1. <%= submission[:track_1] %>, 2. <%= submission[:track_2] %>, 3. <%= submission[:track_3] %></div>
    </li>
    <% end %>
  </ul>
</div>

<div id="content">
  <div class="name_heading"><center><%= @latest_submission[:name] %>:</center></div>
  <div class="scenario"><%= @latest_submission[:scenario] %></div>
  <div class="votes">
    <ol>
      <li><%= @latest_submission[:track_1] %><% if @latest_submission[:track_1_notes] %>: <span><%= @latest_submission[:track_1_notes] %></span><% end %></li>
      <li><%= @latest_submission[:track_2] %><% if @latest_submission[:track_2_notes] %>: <span><%= @latest_submission[:track_2_notes] %></span><% end %></li>
      <li><%= @latest_submission[:track_3] %><% if @latest_submission[:track_3_notes] %>: <span><%= @latest_submission[:track_3_notes] %></span><% end %></li>
    </ol>
  </div>
  <div class="meta">Submitted <span class="timeAgo" title="<%= @latest_submission[:updated_at] %>"></span>. Code: <a href="/answers/<%= @latest_submission.id.split('/')[1] %>" target="_blank" title="Open in new tab..."><%= @latest_submission.id.split("/")[1] %></a></div>
</div>

<div class="clear"></div>